<div class="logs-container">
  <p-card>
    <ng-template pTemplate="header">
      <div class="p-3">
        <h2>Loglar</h2>
      </div>
    </ng-template>

    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-dropdown 
          [options]="levels" 
          [(ngModel)]="selectedLevel"
          (onChange)="onLevelChange()"
          placeholder="Log Seviyesi Seçin"
          styleClass="w-12rem">
        </p-dropdown>
      </div>
    </p-toolbar>

    <p-table 
      [value]="logs" 
      [lazy]="true"
      (onLazyLoad)="onPageChange($event)"
      [loading]="loading"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [first]="first"
      [rowsPerPageOptions]="[25, 50, 100]"
      [responsiveLayout]="'scroll'"
      styleClass="p-datatable-sm">
      
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px">ID</th>
          <th style="width: 120px">Tarih</th>
          <th style="width: 100px">Seviye</th>
          <th>Mesaj</th>
          <th style="width: 200px">Logger</th>
          <th style="width: 100px">İşlem</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-log>
        <tr>
          <td>{{ log.id }}</td>
          <td>{{ formatDate(log.logged) }}</td>
          <td>
            <p-tag [value]="log.level" [severity]="getSeverity(log.level)"></p-tag>
          </td>
          <td>
            <div class="log-message" [title]="log.message">
              {{ log.message.length > 100 ? log.message.substring(0, 100) + '...' : log.message }}
            </div>
          </td>
          <td>
            <small>{{ log.logger || '-' }}</small>
          </td>
          <td>
            <p-button 
              icon="pi pi-eye" 
              [text]="true"
              (onClick)="viewLog(log)"
              severity="info"
              [rounded]="true">
            </p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center p-4">
            Log kaydı bulunamadı.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <!-- Log Detail Dialog -->
  <p-dialog 
    [(visible)]="dialogVisible" 
    [modal]="true"
    [style]="{width: '80vw', maxWidth: '900px'}"
    [draggable]="false"
    [resizable]="false"
    header="Log Detayı">
    
    <div *ngIf="selectedLog" class="log-detail">
      <div class="detail-row">
        <label>ID:</label>
        <span>{{ selectedLog?.id }}</span>
      </div>
      
      <div class="detail-row">
        <label>Uygulama:</label>
        <span>{{ selectedLog?.application }}</span>
      </div>
      
      <div class="detail-row">
        <label>Tarih:</label>
        <span>{{ formatDate(selectedLog?.logged || '') }}</span>
      </div>
      
      <div class="detail-row">
        <label>Seviye:</label>
        <p-tag *ngIf="selectedLog?.level" [value]="selectedLog.level" [severity]="getSeverity(selectedLog.level)"></p-tag>
      </div>
      
      <div class="detail-row">
        <label>Mesaj:</label>
        <div class="log-message-full">{{ selectedLog?.message }}</div>
      </div>
      
      <div class="detail-row" *ngIf="selectedLog?.logger">
        <label>Logger:</label>
        <span>{{ selectedLog.logger }}</span>
      </div>
      
      <div class="detail-row" *ngIf="selectedLog?.callsite">
        <label>Callsite:</label>
        <code class="callsite">{{ selectedLog.callsite }}</code>
      </div>
      
      <div class="detail-row" *ngIf="selectedLog?.exception">
        <label>Exception:</label>
        <pre class="exception-text">{{ selectedLog.exception }}</pre>
      </div>
      
      <div class="detail-row" *ngIf="selectedLog?.properties">
        <label>Properties:</label>
        <pre class="properties-text">{{ selectedLog.properties }}</pre>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <p-button 
        label="Kapat" 
        icon="pi pi-times"
        (onClick)="dialogVisible = false"
        [text]="true">
      </p-button>
    </ng-template>
  </p-dialog>
</div>

