<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- Database Target - Sadece veritabanına log yaz -->
    <target xsi:type="Database"
            name="databaseTarget"
            connectionString="Server=RECAI;Database=MyAppDb;Trusted_Connection=true;MultipleActiveResultSets=true;TrustServerCertificate=True;"
            commandText="INSERT INTO Logs (Application, Logged, Level, Message, Logger, Callsite, Exception, Properties) 
                         VALUES (@Application, @Logged, @Level, @Message, @Logger, @Callsite, @Exception, @Properties)">
      
      <parameter name="@Application" layout="MyApp.API" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite:filename=true}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@Properties" layout="${all-event-properties:separator=|}" />
    </target>
  </targets>

  <rules>
    <!-- MyApp namespace'indeki tüm loglar (Information ve üzeri) veritabanına yazılacak -->
    <logger name="MyApp.*" minlevel="Information" writeTo="databaseTarget" />
  </rules>
</nlog>

